{% extends 'main_page/header.html' %}
{% block content %}
<h3>Conclusion</h3>
<p>BAK proteins (members of the bcl-2 protein family) are multi-BH pro-apoptotic proteins and play a key role in inducing cell death. Several analyses showed that BAK was ubiquitous across most adult tissues with it being largely localised in the outer mitochondrial membrane.
</p>
<p>BAK can be activated indirectly by pro-apoptotic BH3-only proteins (eg. Bim and Bid) which displace BAK from Bcl-xL, this action leaves BAK free to dimerize with other BAK proteins setting off a cascade resulting in apoptosis. BH3-only proteins can directly bind to BAK, this is another method of activation.
</p>
<p>Being a multi-BH pro-apoptotic protein, BAK has multiple domains. We found that it has four BH domains (BH1-BH4) and a transmembrane region. BH1, BH2 and BH4 domains all have roles in inhibiting apoptosis and are responsible for BAKs anti apoptosis function, with BH1 and BH2 domains having homologues conserved within both anti and pro-apoptotic members of bcl-2 proteins. The BH3 domain is responsible for BAKs pro-apoptotic activity with its hydrophobic residues vital for the binding of the BAK protein. 
</p>
{% endblock %}