{% extends 'main_page/header.html' %}
{% block content %}
<ol>
    <li><a href='http://www.nature.com/nrc/journal/v16/n2/full/nrc.2015.17.html' target='_blank'>
        Delbridge, A. R. D., Grabow, S., Strasser, A. & Vaux, D. L. 2016 Thirty years of BCL-2: translating cell death discoveries into novel cancer therapies. Nat. Rev. Cancer 16, 99–109. (doi:10.1038/nrc.2015.17)
    </a></li>
    <li><a href='http://www.nature.com/nature/journal/v374/n6524/abs/374731a0.html' target='_blank'>
        Farrow, S. N., White, J. H. M., Martinou, I., Raven, T., Pun, K.-T., Grinham, C. J., Martinou, J.-C. & Brown, R. 1995 Cloning of a bcl-2 homologue by interaction with adenovirus E1B 19K. Nature 374, 731–733. (doi:10.1038/374731a0)
    </a></li>
    <li><a href='http://www.nature.com/nature/journal/v374/n6524/abs/374736a0.html' target='_blank'>
        Kiefer, M. C., Brauer, M. J., Powers, V. C., Wu, J. J., Umansky, S. R., Tomei, L. D. & Barr, P. J. 1995 Modulation of apoptosis by the widely distributed Bcl-2 homologue Bak. Nature. 374, 736–9. (doi:10.1038/374736a0)
    </a></li>
    <li><a href="http://www.cell.com/molecular-cell/abstract/S1097-2765(08)00265-7?_returnURL=http%3A%2F%2Flinkinghub.elsevier.com%2Fretrieve%2Fpii%2FS1097276508002657%3Fshowall%3Dtrue" target='_blank'>
        Dewson, G., Kratina, T., Sim, H. W., Puthalakath, H., Adams, J. M., Colman, P. M. & Kluck, R. M. 2008 To Trigger Apoptosis, Bak Exposes Its BH3 Domain and Homodimerizes via BH3:Groove Interactions. Mol. Cell 30, 369–380. (doi:10.1016/j.molcel.2008.04.005)
    </a></li>
    <li><a href='http://mcb.asm.org/content/26/20/7397' target='_blank'>
        Parone, P. A., James, D. I., Da Cruz, S., Mattenberger, Y., Donzé, O., Barja, F. & Martinou, J.-C. 2006 Inhibiting the mitochondrial fission machinery does not prevent Bax/Bak-dependent apoptosis. Mol. Cell. Biol. 26, 7397–408. (doi:10.1128/MCB.02282-05)
    </a></li>
    <li><a href='http://genesdev.cshlp.org/content/19/11/1294' target='_blank'>
        Willis, S. N., Chen, L., Dewson, G., Wei, A., Naik, E., Fletcher, J. I., Adams, J. M., Huang, D. C. D. 2005 Proapoptotic Bak is sequestered by Mcl-1 and Bcl-XL, but not Bcl-2, until displaced by BH3-only proteins. Genes & Development 19, 1294-305. (doi: 10.1101/gad.1304105)
    </a></li>
    <li><a href='http://www.nature.com/nsmb/journal/v20/n5/full/nsmb.2563.html' target='_blank'>
        Moldoveanu T, Grace C R, Llambi F, Nourse A, Fitzgerald P, Gehring K, ... Green R. BID-induced structural changes in BAK promote apoptosis. Nature Structural & Molecular Biology. 2013; 20(5), 589–597
    </a></li>
    <li><a href='http://www.cell.com/molecular-cell/abstract/S1097-2765(10)00079-1?_returnURL=http%3A%2F%2Flinkinghub.elsevier.com%2Fretrieve%2Fpii%2FS1097276510000791%3Fshowall%3Dtrue' target='_blank'>
        Chipuk JE, Moldoveanu T, Llambi F, Parsons MJ, Green DR. The BCL-2 Family Reunion. Molecular cell. 2010;37(3):299-310
    </a></li>
    <li><a href='http://www.cell.com/trends/biochemical-sciences/abstract/S0968-0004(13)00208-9?_returnURL=http%3A%2F%2Flinkinghub.elsevier.com%2Fretrieve%2Fpii%2FS0968000413002089%3Fshowall%3Dtrue' target='_blank'>
        Moldoveanu T, Follis AV, Kriwacki RW, Green DR. Many players in BCL-2 family affairs. Trends in biochemical sciences. 2014;39(3):101-111
    </a></li>
    <li><a href='http://www.nature.com/cdd/journal/v19/n4/full/cdd2011138a.html' target='_blank'>
        Dewson G, Ma S, Frederick P, et al. Bax dimerizes via a symmetric BH3:groove interface during apoptosis. Cell Death and Differentiation. 2012;19(4):661-670
    </a></li>
    <li><a href='http://atlasgeneticsoncology.org/Genes/BAK1ID752ch6p21.html ' target='_blank'>
        Atlasgeneticsoncology.org. (2017). BAK1 (BCL2-antagonist/killer 1). [online] Available at: http://atlasgeneticsoncology.org/Genes/BAK1ID752ch6p21.html [Accessed 17 Mar. 2017].
    </a></li>
    <li><a href='https://www.ncbi.nlm.nih.gov/pubmed/21195116' target='_blank'>
        Dana Westphal, G. D. (2010). Biochimica et Biophysica Acta. Molecular biology of Bax and Bak activation and action .
    </a></li>
    <li><a href='https://www.ncbi.nlm.nih.gov/pubmed/15949801' target='_blank'>
        Gurudutta GU1, V. Y. (2005). Federation of European Biochemical Societies. Structural conservation of residues in BH1 and BH2 domains of Bcl-2 family proteins.
    </a></li>
    <li><a href='http://www.jbc.org/content/274/29/20415.short' target='_blank'>
        Miki Hirotani, Y. Z. (1999). THE JOURNAL OF BIOLOGICAL CHEMISTRY. NH2-terminal BH4 Domain of Bcl-2 Is Functional for Heterodimerization with Bax and Inhibition of Apoptosis , 1.
    </a></li>
    <li><a href='http://www.pnas.org/content/114/2/310.full' target='_blank'>
        Vicente Andreu-Fernández, M. S.-P. (2016). Biological Sciences - Biochemistry PNAS. Bax transmembrane domain interacts with prosurvival Bcl-2 proteins in biological membranes 
    </a></li>
    <li><a href='https://www.ncbi.nlm.nih.gov/labs/articles/8183370/' target='_blank'>
        Yin, X., Oltvai, Z. and Korsmeyer, S. (1994). BH1 and BH2 domains of Bcl-2 are required for inhibition of apoptosis and heterodimerization with Bax. Nature, 369(6478), pp.321-323.
    </a></li>
    <li><a href='http://www.nature.com/articles/srep30763#abstract' target='_blank'>
        Tirtha Mandal, Seungjin Shin, Sreevidya Aluvila, Hui-Chen Chen, Carter Grieve, Jun-Yong Choe, Emily H. Cheng, Eric J. Hustedt & Kyoung Joon Oh. Scientific Reports 6, Article number: 30763 (2016). Assembly of Bak homodimers into higher order homooligomers in the mitochondrial apoptotic pore. doi:10.1038/srep30763
        </a></li>
</ol>
{% endblock %}